/* Estilo general del body */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    height: 80vh; /* Asegura que el body ocupe toda la altura de la ventana */
    background-color: #f0f0f0; /* Fondo de color claro */
    display: flex;
    flex-direction: column; /* Aplica flex en dirección columna */
    justify-content: flex-start; /* Alinea todo al inicio (parte superior) */
}

/* Estilo encabezado */
header {
    display: flex;
    height: 100px;
    background-color: rgb(202, 168, 235);
    justify-content: space-between;
    align-items: center; /* Alinea los items al centro verticalmente */
    padding: 0 20px;
}

/* Logo dentro del encabezado */
.Logo {
    display: flex;
    align-items: center;
}

.Logo img {
    height: 100px;
    margin-right: 200px;  
}

/* Estilos para la sección de recuperación de contraseña */
.form-recover {
    background-color: rgb(102, 101, 104);;
    padding: 60px;
    border-radius: 10px;
    max-width: 400px;
    margin: 100px auto; /* Ajustado para mayor separación del encabezado */
    text-align: center;
    flex-grow: 1; /* Asegura que el formulario ocupe el espacio restante */
    border-top: 4px solid blue;
    box-shadow: 7px 13px 17px #000000;
}

/* Estilos para el encabezado dentro del formulario */
h5 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos para los inputs del formulario */
.controls {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #252323;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9;
}

.controls:focus {
    border-color: #0e131a;
    outline: none;
}

/* Estilos para el botón de envío */
.buttons {
    width: 100%;
    padding: 10px;
    background-color: #3f8efc;
    border: none;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
}

.buttons:hover {
    background-color: #6f9bd4;
}

/* Estilos adicionales para enlaces o mensajes */
p {
    margin-top: 20px;
    font-size: 0.9em;
    color: #0e0d0d;
}

a {
    color: #131414;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
